<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <canvas width="400" height="300" id="graficadashboard"></canvas>
</body>
<script>
    const canvas = document.getElementById('graficadashboard').getContext('2d');
    
    var char = new Chart(canvas, {
        type: 'line',
        data: {
            labels: ['Enero', 'Febero', 'Marzo', 'Abril'],
            datasets: [
                {
                    label: 'Validando',
                    backgroundColor: 'rgba(255, 255, 255)',
                    data: [12, 52, 10, 100]
                }
            ]
        }
    })
</script>

</html>