{{> navbar-sidebar }}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tiendas Bam Bam</title>


    <!-- Hoja de estilo CSS-->
    <link rel="stylesheet" href="/css/typicons.css">
    <link rel="stylesheet" href="/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="/img/favicon.png" />



    <main>
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title ">Agregar Productos al Inventario</h4>
                    <form class="form-sample needs-validation" novalidate>
                        <p class="card-description text-end ">
                            A continuacion, llena el siguiente formulario con informacion de los productos
                        </p>
                        </br>


                        <p class="card-description" bold>
                            <b> Informacion De Productos </b>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Codigo</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="codigo" class="form-control" placeholder="01" />
                                    </div>
                                </div>
                            </div>
                            <!-- Falta tres -->


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Fecha Creado</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" placeholder="23/12/2021" />
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"> Producto </label>
                                    <div class="col-sm-9">
                                        <input type="text" id="nombre" class="form-control" placeholder=" Nombre "
                                            required />
                                    </div>
                                </div>
                            </div>




                            <!-- Falta uno -->


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Cantidad</label>
                                    <div class="col-sm-9">
                                        <input type="number" id="cantidad" class="form-control" placeholder="00" required />
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Precio De Compra</label>
                                    <div class="col-sm-9">
                                        <input type="number" id="precioc" class="form-control" placeholder="$ 10000 "  required />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Precio De Venta </label>
                                    <div class="col-sm-9">
                                        <input type="number" id="preciov" class="form-control" placeholder="$ 12000 "  required/>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Activo</label>
                                    <div class="col-sm-9">
                                        <input type="number" id="activo" class="form-control" placeholder="0"  required />
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label"> Compra Paquete</label>
                                    <div class="col-sm-9">
                                        <input type="number" id="comprapack" class="form-control" placeholder=" 00 " required />
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Cantidad De Paquetes </label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="cantpack" placeholder="00"  required/>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label  class="col-sm-3 col-form-label"> Cantidad Minima </label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" placeholder=" Nombre " required />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label  class="col-sm-3 col-form-label"> Cantidad Maxima</label>
                                    <div class="col-sm-9">
                                        <input type="number" id="cantmax" class="form-control" placeholder=" 00 " required />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label  class="col-sm-3 col-form-label"> Sucursal </label>
                                    <div class="col-sm-9">
                                        <input type="number" id="sucid" class="form-control" placeholder=" 01 " required />
                                    </div>
                                </div>
                            </div>

                            <div class="">
                                <button type="submit" class="btn btn-primary " onclick="verif()">Agregar Producto</button>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
            </body>

            <!-- CSS de Reportes -->

            <link rel="stylesheet" href="/css/main.css">

            <!-- Ver billing -->

            <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


</head>










<script src="js/script.js"></script>
<script src="/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->

<!-- endinject -->
<!-- plugin js for this page -->
<script src="js/typeahead.bundle.min.js"></script>
<script src="js/select2.min.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="/js/file-upload.js"></script>
<script src="/js/typeahead.js"></script>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/notificacion.js"></script>
<script src="/js/ventana.js"></script>
<script src="/js/smsvalidacion.js"></script>
<script src="/js/inputLote.js"></script>

<!-- Llamada de Scripts del Proyecto-->

{{> footer }}