{{#if success}}
    <button id="llamado" onclick="mostrarAlertSuccess('{{success}}')"></button>
{{/if}}

{{#if error}}
    <button id="llamado" onclick="mostrarAlertError('{{error}}')"></button>
{{/if}}

<script type="text/javascript" src="/assets/jsaux/alert.js"></script>