<footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2022 <div class="bullet"> Diseñado por DevArt</div>
        </div>
        <div class="footer-right">
            Tiendas Bam Bam, mas cerca de ti
        </div>
      </footer>
     
</div>
  </div>
<<<<<<< HEAD
  <script src="/assets/js/app.min.js"></script>
<!-- Template JS File -->
<script src="/assets/js/scripts.js"></script>

=======
  <!-- General JS Scripts -->
  <script src="/assets/js/app.min.js"></script>
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
>>>>>>> e0a4d61b709b51b7e8531b3b624c5bca4092d0bb
  </body>
 

</html>