<footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; 2022 <div class="bullet"> Diseñado por DevArt</div>
        </div>
        <div class="footer-right">
            Tiendas Bam Bam, mas cerca de ti
        </div>
      </footer>
     
</div>
  </div>
  </body>
 

</html>