<div id="app">
  <div class="main-wrapper main-wrapper-1">
    <div class="navbar-bg"></div>
    <nav class="navbar navbar-expand-lg main-navbar sticky">
      <div class="form-inline me-auto">
        <ul class="navbar-nav mr-3">
          <li>
            <a href="#" data-bs-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
              <i data-feather="align-justify"></i>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
              <i data-feather="maximize"></i>
            </a>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav navbar-right">
        <li class="dropdown"><a href="#" data-bs-toggle="dropdown"
            class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="/assets/img/user.png"
              class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
          <div class="dropdown-menu dropdown-menu-right pullDown">
            <div class="dropdown-title">Hola {{user.nombre}}</div>
            <a href="/dashboard" class="dropdown-item has-icon"> <i class="far
										fa-user"></i> Dashboard
            </a> 
            <div class="dropdown-divider"></div>
            <a href="/auth/logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </nav>
    <div class="main-sidebar sidebar-style-2">
      <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
          <a href="/dashboard"> <span class="logo-name">BamBam</span>
          </a>
        </div>
        <ul class="sidebar-menu">
          <li class="menu-header">Main</li>
          <li class="dropdown">
            <a href="/dashboard" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
          </li>
          <li class="menu-header">Inventario</li>
          <li class="dropdown">
            <a class="menu-toggle nav-link has-dropdown"><i data-feather="shopping-bag"></i><span>Productos</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/inventario">Ver productos</a></li>
              {{#if rol}}
              <li><a class="nav-link" href="/inventario/insertar">Crear producto</a></li>
              <li><a class="nav-link" href="/inventario/cargarinfo">Cargar productos</a></li>
              {{/if}}
              <li><a class="nav-link" href="/grupoproducto">Ver grupo producto</a></li>
              {{#if rol}}
              <li><a class="nav-link" href="/grupoproducto/insertar">Crear grupo producto</a></li>
              {{/if}}
              <li><a class="nav-link" href="/lote">Ver lotes</a></li>
              <li><a class="nav-link" href="/lote/insertar">Crear lotes</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a class="menu-toggle nav-link has-dropdown"><i data-feather="users"></i><span>Terceros</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/tercero">Ver terceros</a></li>
              <li><a class="nav-link" href="/tercero/insertar">Crear tercero</a></li>
              <li><a class="nav-link" href="/empresaProve">Ver empresa proveedora</a></li>
              {{#if rol}}
              <li><a class="nav-link" href="/empresaProve/insertar">Crear empresa proveedora</a></li>
              {{/if}}
            </ul>
          </li>
          <li class="menu-header">Facturación</li>
          <li class="dropdown">
            <a class="menu-toggle nav-link has-dropdown"><i data-feather="file-text"></i><span>Factura de
                venta</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/factura">Ver facturas</a></li>
              <li><a class="nav-link" href="/factura/insertar">Crear factura</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="file-text"></i><span>Factura de
                compra</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/facturacompra">Ver facturas</a></li>
              <li><a class="nav-link" href="/facturacompra/insertar">Crear factura</a></li>
            </ul>
          </li>
          <!-- <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                data-feather="rotate-ccw"></i><span>Devoluciones</span></a>
            <ul class="dropdown-menu">
              <li><a class="nav-link" href="/404">Ver devoluciones venta</a></li>
              <li><a class="nav-link" href="/404">Crear devolucion venta</a></li>
              <li><a class="nav-link" href="/404">Ver devoluciones compra</a></li>
              <li><a class="nav-link" href="/404">Crear devolucion compra</a></li>
            </ul>
          </li> -->
          {{#if rol}}
          <li class="menu-header">Reportes</li>
          <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown"><i
                data-feather="book-open"></i><span>Reportes</span></a>
            <ul class="dropdown-menu">
              <!-- <li><a class="nav-link" href="/reportes/facturas">Reporte de facturas</a></li>
              <li><a class="nav-link" href="/reportes/tercero">Reporte de Terceros</a></li> -->
              <li><a class="nav-link" href="/reportes/producto">Reporte de Productos</a></li>
            </ul>
          </li>
          <li class="menu-header">Administrador</li>
          <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="user"></i><span>Usuarios</span></a>
            <ul class="dropdown-menu">
              <li><a href="/usuario">Ver usuario</a></li>
              <li><a class="nav-link" href="/usuario/insertar">Crear usuario</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="home"></i><span>Sucursales</span></a>
            <ul class="dropdown-menu">
              <li><a href="/sucursal/consultar">Ver Sucursales</a></li>
              <li><a class="nav-link" href="/sucursal/insertar">Crear Sucursales</a></li>
            </ul>
          </li>
          {{/if}}
        </ul>
      </aside>
    </div>
  </div>